@model IEnumerable<BeeHRM.ApplicationService.DTOs.TaxSetupDTO>

@{
    ViewBag.Title = "TaxSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="~/Payroll/TaxSetupCreate"><i class="fa fa-bars"></i> Create new</a></span><a href="#"></a></li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Tax rules
                </h2>
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MasterId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MasterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxDescription)
        </td>
        <td>
            @Html.ActionLink("TaxDetails", "TaxSetupDetails", new { MasterId = item.MasterId })
            
            @Html.ActionLink("TaxSetupEdit", "TaxSetupEdit", new { id = item.MasterId }) 
        </td>
    </tr>
}

</table>
