@model IEnumerable<BeeHRM.Repository.Skill>

@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}
@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span><a href="~/Skills/Create" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add</a></span> </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Skills
                </h2>
            </div>
        </div>
    </div>
}

<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="well box">
                    <div class="box-body table-responsive">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SkillName)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SkillName)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.SkillId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.SkillId },new { @class = "confirm_delete" })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


