@model IEnumerable<BeeHRM.ApplicationService.ViewModel.PayrollSalaryViewModel>
@{
    ViewBag.Title = "PayrollMonths";

    string fsId = Convert.ToString(ViewBag.fsId);
    string officeId = Convert.ToString(ViewBag.officeId);

}
@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">

                </div>
                <h2 class="font-light m-b-xs">
                    Payroll sheet
                </h2>
            </div>
        </div>
    </div>
}

<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    @using (Html.BeginForm())
            {
                        @Html.AntiForgeryToken()

                        <div class="col-md-3">
                            <div class="form-group">
                                <select class="form-control custom-select" name="officeId" style="width:250px;">
                                    <option value="0">Please Choose Office/Branch</option>
                                    @if (ViewBag.OfficeList != null)
                                    {
                                        foreach (var row in ViewBag.OfficeList)
                                        {
                                            <option value="@row.OfficeId" @( officeId == row.OfficeId.ToString() ? "selected" : "")> @row.OfficeName</option>
                                        }
                                    }

                                </select>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" name="fyId" style="width:250px;">
                                    <option value="0">Please Choose Fiscal Year</option>
                                    @if (ViewBag.FiscalsDropdown != null)
                                    {
                                        foreach (var row in ViewBag.FiscalsDropdown)
                                        {
                                            <option value="@row.Value" @( fsId == row.Value.ToString() ? "selected" : "")> @row.Text</option>
                                        }
                                    }

                                </select>

                            </div>
                        </div>


                        <div class="col-md-2">
                            <input type="submit" value="Search" class="btn btn-success" />
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>



<div class="box box-top-border">
    <div class="box-body">
        <table class="table dataTables_filter" id="datatable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GradeSalary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfficeName)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.SalaryConfirmed)
                </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.EmployeeCode)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GradeSalary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfficeName)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.SalaryConfirmed)
                    </td>*@
                    <td>
                        @Html.ActionLink("Details", "Details", new { empcode = item.EmployeeCode }, new { @class="btn btn-primary"})
                        @*<a href="~/OverallPayrollSheet/Details/@item.EmployeeCode">Details</a>*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/moment.min.js"></script>

    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Content/Custom Select/src/jquery-customselect.js"></script>
    <link href="~/Content/Custom Select/src/jquery-customselect.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(".custom-select").customselect();
            $('#datatable').DataTable();
            $('.dataTables_filter').css('float', 'right');
        });
    </script>
}
