@model IEnumerable<BeeHRM.ApplicationService.DTOs.PayrollRemoteAllowancesDTO>

@{
    ViewBag.Title = "Payroll Remote Allowance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="/content/DataTables/datatables.min.css" />
}

@section scripts{
    <script type="text/javascript" src="/content/DataTables/datatables.min.js"></script>
    <script type="text/javascript">
        $('#rATable').DataTable();
    </script>
}
@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @item.MOduleName</a></li>
                }
            </ul>
        </div>
    </div>
}
@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span><a href="~/PayrollRemoteAllowances/Create" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add</a></span><a href=" "> </a> </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Payroll Remote Allowance
                </h2>
            </div>
        </div>
    </div>
}
<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="well box">
                    <div class="box-body table-responsive">
                        <table class="table table-hover dataTable" id="rATable">
                            <thead>
                                <tr>
                                    <th>
                                        Rank
                                    </th>
                                    <th>
                                        Payroll Remote Allowance
                                    </th>
                                    <th>
                                        Allowance
                                    </th>
                                    <th>
                                       Allowance Type
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Rank.RankName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PayrollRemoteSetup.RemoteName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RemoteAllowance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RAType)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.RAId })
                                            @*@Html.ActionLink("Details", "Details", new { id = item.RAId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.RAId })*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
