@model IEnumerable<BeeHRM.ApplicationService.DTOs.FiscalDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="/content/DataTables/datatables.min.css" />
}
@section scripts{
    <script type="text/javascript" src="/content/DataTables/datatables.min.js"></script>
    <script type="text/javascript">
        $('.dataTable').DataTable();
        $('.delete').on('click', function () {
            var res = confirm("Are you sure you want to delete?");
            if (!res) {
                return false;
            }
        });
    </script>
}

@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}
@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span><a href="~/Fiscal/Create" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add</a></span> </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Fiscal Year
                </h2>
            </div>
        </div>
    </div>
}
<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="well box">
                    <div class="box-body table-responsive">
                        <table class="table table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FyId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FyName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FyStartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FyEndDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FyStartDateNp)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FyEndDateNp)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FyCurrent)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FyName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FyStartDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FyEndDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FyStartDateNp)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FyEndDateNp)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FyCurrent)
                                            </td>
                                            <td>
                                                <a href="Fiscal/Edit/@item.FyId">Edit</a>|
                                                <a href="Fiscal/Delete/@item.FyId" class="delete">Delete</a>

                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>