@model IEnumerable<BeeHRM.ApplicationService.DTOs.RankDTO>

@{
    ViewBag.Title = "Ranks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="/content/DataTables/datatables.min.css" />
}

@section scripts{
    <script type="text/javascript" src="/content/DataTables/datatables.min.js"></script>
    <script type="text/javascript">
        $('.dataTable').DataTable();
    </script>
}
@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}
@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span><a href="~/Rank/Create" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add</a></span><a href=" "> </a> </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Ranks
                </h2>
            </div>
        </div>
    </div>
}
<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="well box">
                    <div class="box-body table-responsive">
                        <table class="table table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>
                                      SN
                                    </th>
                                    <th>
                                       Rank Name
                                    </th>
                                    <th>
                                         Description
                                    </th>
                                    <th>
                                         Salary
                                    </th>
                                    <th>
                                       Max Grade
                                    </th>
                                    <th>
                                       Per Grade Amount
                                    </th>
                                    <th>
                                        Bank Allowance
                                    </th>
                                    <th>
                                       Special Allowance
                                    </th>
                                    <th>
                                       Incentive
                                    </th>
                                    <th>
                                       Site Inchargeship
                                    </th>
                                    <th>
                                        UniformAllowance
                                    </th>
                                    <th>
                                     InchargeShip Allowance
                                    </th>
                                    <th>
                                       Other Allowances
                                    </th>
                                    <th>
                                      OvertimeRate
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                           @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RankName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RankDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RankSalary)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RankMaxGrade)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RankPerGradeAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BankAllowance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RankSpecialAllowance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Incentive)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SiteInchargeship)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UniformAllowance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RankInchargeShipAllowance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RankOtherAllowances)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverTimeRate)
                                        </td>
                                        <td>
                                            <a  class="btn btn-primary"   href="/Rank/Edit/@item.RankId" > Edit</a> 
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
