@model BeeHRM.ApplicationService.DTOs.LeaveApplicationDTO

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/LeaveTypeSpecial/Index" class="btn btn-success"><i class="fa fa-bars"></i> View Special Type List</a>
                            </span><a href="#"></a>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Add New Special Leave Application
                </h2>
            </div>
        </div>
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> @ViewBag.Success
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-times" aria-hidden="true"></i> @ViewBag.Error
    </div>
}


<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <span class="error-label">
                @*@Html.ValidationSummary()*@
            </span>
            <div class="col-md-6">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="box-body">

                        <div class="form-group">
                            <label for="leave_type">Employee *</label>
                            @Html.DropDownListFor(model => model.LeaveEmpCode, Model.EmployeeCodeSelectlist, "Select Please", new { @class = "form-control custom-select" })

                        </div>

                        <div class="form-group">
                            <label for="LeaveApproverEmpCode">Recommeder *</label>
                            <select name="RecommededEmpCode" id="RecommededEmpCode" required="required" class="form-control ">
                                <option value="0" selected>Please Select</option>
                            </select>

                            @Html.ValidationMessageFor(model => model.RecommededEmpCode, "", new { @class = "text-danger " })
                        </div>


                        <div class="form-group">
                            <label for="LeaveApproverEmpCode">Approver *</label>
                            <select name="LeaveApproverEmpCode" id="LeaveApproverEmpCode" required="required" class="form-control">
                                <option value="0" selected>Please Select</option>
                            </select>

                            @Html.ValidationMessageFor(model => model.LeaveApproverEmpCode, "", new { @class = "text-danger " })
                        </div>


                        <div class="form-group">
                            <label for="leave_type">Leave Year *</label>
                            @Html.DropDownListFor(model => model.LeaveYearId, Model.YearSelectList, "Select Please", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LeaveYearId, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            <label for="LeaveTypeId"> Leave Type *</label>
                            @Html.DropDownListFor(model => model.LeaveTypeId, Model.LeaveTypeSelectList, "Select Please", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="LeaveTypeId"> Leave Subject *</label>
                            @Html.EditorFor(model => model.LeaveSubject, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.LeaveSubject, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="LeaveStartDate"> Leave Start Date *</label>
                            @Html.EditorFor(model => model.LeaveStartDateNP, new { htmlAttributes = new { @class = "form-control date", @required = "required" } })
                        </div>

                        <div class="form-group">
                            <label for="LeaveEndDate"> Leave End Date *</label>
                            @Html.EditorFor(model => model.LeaveEndDateNP, new { htmlAttributes = new { @class = "form-control date", @required = "required" } })
                        </div>




                        <div class="form-group ">
                            <label for="desc">Description *</label>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Enter leave application description" name="LeaveDetails" cols="50" rows="10" id="desc" required></textarea>
                        </div>

                    </div>

                    <div class="box-footer">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" id="btnSubmit" class="btn btn-success" />
                        </div>
                    </div>

                }
            </div>

        </div>
    </div>
</div>
@section styles{
    <link href="~/Public/lib/nepali.datepicker.v2.2/nepali.datepicker.v2.2.min.css" rel="stylesheet" />
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Public/lib/nepali.datepicker.v2.2/nepali.datepicker.v2.2.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Content/Custom Select/src/jquery-customselect.js"></script>
    <link href="~/Content/Custom Select/src/jquery-customselect.css" rel="stylesheet" />




    <script type="text/javascript">
        $(document).ready(function () {


            $('.date').nepaliDatePicker({
                npdMonth: true,
                npdYear: true,
                npdYearCount: 10 // Options | Number of years to show
            });


            //$('#datetimepicker2').datetimepicker({
            //    format: 'YYYY-MMM-DD'
            //});

            $(".custom-select").customselect();


            $("#LeaveEmpCode").change(function () {


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetEmloyeeApproverSelectList", "LeaveTypeSpecial")',
                    data: {
                        EmpCode: $("#LeaveEmpCode").val(),
                    },
                    dataType: "json",
                    success: function (data) {
                        $("#LeaveApproverEmpCode").html('<option value="0">Please Select</option>');
                        $.each(data, function () {
                            $("#LeaveApproverEmpCode").append($("<option />").val(this.Value).text(this.Text));
                        });
                    }

                });


                /***Recommeder*******/
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetEmloyeeRecommederSelectList", "LeaveTypeSpecial")',
                    data: {
                        EmpCode: $("#LeaveEmpCode").val(),
                    },
                    dataType: "json",
                    success: function (data) {
                        $("#RecommededEmpCode").html('<option value="0">Please Select</option>');
                        $.each(data, function () {
                            $("#RecommededEmpCode").append($("<option />").val(this.Value).text(this.Text));
                        });
                    }

                });



            });
        });

    </script>


}
