@model  BeeHRM.ApplicationService.DTOs.LeaveApplicationDTOInformation
@using BeeHRM.ApplicationService.ViewModel
@{
    ViewBag.Title = "Leave Applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">

                        </li>
                        @if (ViewBag.AllowCreate == true)
                        {
                            <span>
                                <a href="/LeaveTypeSpecial/Add" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add New Special Leave Application</a>
                            </span>
                        }
                    </ol>
                </div>

                <h2 class="font-light m-b-xs">
                    Specical Leave Application List
                </h2>
            </div>
        </div>
    </div>
}
@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}

@section styles{
    <link rel="stylesheet" type="text/css" href="/content/DataTables/datatables.min.css" />
    <style>
        .modal-header {
            padding: 5px;
            border-bottom: 1px solid #a94442;
        }

        @@media only screen and (min-width: 500px) {
            .modal-dialog {
                width: 500px;
                margin: 30px auto;
                top: 100px;
            }
        }

        .modal-content {
            background-color: #eff5ff;
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        }
    </style>
}


@if (Session["LeaveDeleteStatus"] != null && Session["LeaveDeleteStatus"].ToString() == "Done")
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> The Leave has been deleted.
    </div>
    Session.Remove("LeaveDeleteStatus");
}

@if (Session["Success"] != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> @Session["Success"].ToString()
    </div>
    Session.Remove("Success");
}


<div class="delerror"></div>
<div class="box box-top-border">
    <div class="box-body">

        @*@{Html.RenderAction("FilterBox", "LeaveTypeSpecial"); }*@

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.LeaveYearId, Model.YearSelectList, "Select Please", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LeaveYearId, "", new { @class = "text-danger" })

                </div>



                <div class="col-md-3">
                    <select class="form-control monthSelector" name="MonthId">
                        <option value="0">All</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>

                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.LeaveEmpCode, Model.EmployeeCodeSelectlist, "Select Please", new { @class = "form-control custom-select" })
                </div>

                <div class="col-md-2">
                    <input type="submit" value="SEARCH" class="btn btn-primary" />
                </div>
            </div>

        }



        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover text-center table-bordered" id="tblLeaveYear">
                    <thead>
                        <tr>
                            <th>EmpName</th>
                            <th>Subject</th>

                            <th>Leave Type</th>
                            <th>Leave Start - End Date</th>
                            <th>Total Days</th>
                            <th>Approver / Status</th>
                            <th>Applied On</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.LeaveApplicationDTOList != null && Model.LeaveApplicationDTOList.Count > 0)
                        {
                            foreach (var item in Model.LeaveApplicationDTOList)
                            {
                                <tr>
                                    <td>@item.Employee.EmpName</td>
                                    <td>@item.LeaveSubject</td>

                                    <td>@item.LeaveType.LeaveTypeName</td>
                                    <td align="left">
                                        <p>
                                            @*@item.LeaveStartDate.ToString("dd MMM, yyyy")*@
                                            @{var startdate = !String.IsNullOrEmpty(item.LeaveStartDate.ToString()) ? BeeHrmClientWeb.Utilities.Date.NepDateConverter.EngToNep(Convert.ToDateTime(item.LeaveStartDate)).ToString().Replace('/', '-') : null; }
                                        <p>From: @startdate (@(Convert.ToString(item.LeaveStartDate) == "" ? "" : Convert.ToDateTime(item.LeaveStartDate).ToString("yyyy-MMM-dd")))</p>
                                        </p>
                                        @*@item.LeaveEndDate.ToString("dd MMM, yyyy")*@
                                        @{var enddate = !String.IsNullOrEmpty(item.LeaveEndDate.ToString()) ? BeeHrmClientWeb.Utilities.Date.NepDateConverter.EngToNep(Convert.ToDateTime(item.LeaveEndDate)).ToString().Replace('/', '-') : null; }
                                        <p>To: @enddate (@(Convert.ToString(item.LeaveEndDate) == "" ? "" : Convert.ToDateTime(item.LeaveEndDate).ToString("yyyy-MMM-dd")))</p>
                                    </td>
                                    <td>@item.LeaveDays</td>

                                    <td>
                                        @item.ApprovalEmployee.ApprovalEmpName
                                        <br />
                                        @{
                                            if (item.LeaveStatus == 1)
                                            {
                                                <span class="label label-warning">Pending</span>
                                            }
                                            else if (item.LeaveStatus == 2)
                                            {
                                                <span class="label label-success">Approved</span>
                                            }
                                            else if (item.LeaveStatus == 3)
                                            {
                                                <span class="label label-danger">Rejected</span>
                                            }
                                            else
                                            {
                                                <span class="label label-danger">Cancelled</span>
                                            }
                                        }

                                    </td>
                                    <td>@*@item.LeaveAppliedDate.ToString("dd MMM, yyyy")*@
                                        @{var appliedon = !String.IsNullOrEmpty(item.LeaveAppliedDate.ToString()) ? BeeHrmClientWeb.Utilities.Date.NepDateConverter.EngToNep(Convert.ToDateTime(item.LeaveAppliedDate)).ToString().Replace('/', '-') : null; }
                                        <p>@appliedon (@(Convert.ToString(item.LeaveAppliedDate) == "" ? "" : Convert.ToDateTime(item.LeaveAppliedDate).ToString("yyyy-MMM-dd")))</p>
                                    </td>
                                    @*<td>
                                                        <div class="btn-group">
                                                @if (ViewBag.AllowCreate == true)
                                        {
                                                            <a href="/user/leaveapplication/delete/@item.LeaveId" class="btn btn-danger deleteLeaveType"><i class="fa fa-trash"></i></a>
                                                            <a href="/user/leave/detail/@item.LeaveId" class="btn btn-info"><i class="fa fa-eye"></i></a>
                                                        </div>

                                                </td>*@
                                    <td>



                                        <a class="label-success label" href="/LeaveTypeSpecial/LeaveTypeSpecialDetail/@item.LeaveId"><i class="fa fa-eye"></i> </a>&nbsp
                                        @if (ViewBag.AllowDelete == true)
                                        {
                                            <a class="label-success label confirm_delete" href="/LeaveTypeSpecial/RejectSpecialLeaveType/@item.LeaveId"><i class="fa fa-trash"></i> </a>
                                        }
                                    </td>
                                </tr>
                                                }
                                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="/content/DataTables/datatables.min.js"></script>


    <script src="~/Content/Custom Select/src/jquery-customselect.js"></script>
    <link href="~/Content/Custom Select/src/jquery-customselect.css" rel="stylesheet" />

    <script type="text/javascript">
        $('#tblLeaveYear').DataTable();
        @*$(".monthSelector").val(@month);*@
        $(document).ready(function () {
            $(".custom-select").customselect();
        });
    </script>



}
