@model BeeHRM.ApplicationService.DTOs.PayrollMonthDescriptionDTO

@{
    ViewBag.Title = "EditPayrollMonth";
}
@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span><a href="~/PayrollMonth/Index" class="btn btn-success"><i class="fa fa-bars"></i> Back to list</a></span></li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Update Payroll Months
                </h2>
            </div>
        </div>
    </div>
}

<div class="box box-top-border">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.FyId)
            @Html.HiddenFor(model => model.MonthIndex)

            <div class="form-group">
                <label class="control-label col-md-2">Salary Month Number</label>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.MonthIndex)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">English Month Name</label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.MonthNameEnglish, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MonthNameEnglish, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Nepali Month Name</label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.MonthNameNepali, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MonthNameNepali, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WorkingDays, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.WorkingDays, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WorkingDays, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-success" /> <a href="/PayrollMonth/Index" class="btn btn-success">Cancel</a>
                </div>
            </div>
        </div>
    }


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
