@model BeeHRM.ApplicationService.DTOs.PayrollLeaveDeductionDTO

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Public/lib/nepali.datepicker.v2.2/nepali.datepicker.v2.2.min.css" rel="stylesheet" />


@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/PayrollLeaveDeduction/Index" class="btn btn-success"><i class="fa fa-bars"></i> View Payroll Leave Deduction List</a>
                            </span><a href="#"></a>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    ADD PAYROLL LEAVE DEDUCTION TYPE
                </h2>
            </div>
        </div>
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> @ViewBag.Success
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-times" aria-hidden="true"></i> @ViewBag.Error
    </div>
}

<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <span class="error-label">
                @Html.ValidationSummary()
            </span>
            <div class="col-md-6">

                @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmEncahsment", id = "frmEncahsment" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="box-body">

                        <div class="form-group">
                            <label for="leave_type">Employee(*)</label>
                            @Html.DropDownListFor(model => model.EmpCode, Model.EmployeeCodeSelectlist, "Select Please", new { @class = "form-control custom-select" })
                            @Html.ValidationMessageFor(model => model.EmpCode, "", new { @class = "text-danger" })
                        </div>
                      
                        
                        <div class="form-group">
                            @Html.HiddenFor(model => model.LeaveYearId)
                            <label for="LeaveTypeId"> Leave Type</label>
                            @Html.DropDownListFor(model => model.LeaveTypeId, Model.LeaveTypeSelectList, "Select Please", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new { @class = "text-danger" })
                            <input type="hidden" id="balance_leave_days" name="balance_leave_days" value="0" />  
                            <div id="lb" style="display:none;">
                                <table>

                                    <tr>
                                        <td>
                                      @Html.DisplayFor(model => model.leavebalance, new { @class = "form-control" })
                                      
                             </td>
                                    </tr>

                                </table>
                               
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LeaveDays, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.LeaveDays, new { htmlAttributes = new { @class = "form-control" } }) Min: 15  Max:30
                            @Html.ValidationMessageFor(model => model.LeaveDays, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LeaveDate, "Leave Date")
                            @Html.EditorFor(model => model.LeaveDateNepali, new { htmlAttributes = new { @class = "form-control date" } })
                            @Html.ValidationMessageFor(model => model.LeaveDate, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group ">
                            <label for="desc">Details(*)</label>
                            <textarea class="form-control" placeholder="Enter leave application description" name="Details" cols="50" rows="10" id="desc"></textarea>
                        </div>

                    </div>

                    <div class="box-footer">
                        <div class="col-md-10">
                            <input type="submit" value="Save" id="btnSubmit" class="btn btn-success" />

                        </div>
                    </div>
                }
            </div>
           
             
            
            <div class="col-md-6">

             

        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/underscore.js"></script>

    <script src="~/Content/Custom Select/src/jquery-customselect.js"></script>
    <link href="~/Content/Custom Select/src/jquery-customselect.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="/content/DataTables/datatables.min.js"></script>
    <script src="~/Content/Custom Select/src/jquery-customselect.js"></script>
    <link href="~/Content/Custom Select/src/jquery-customselect.css" rel="stylesheet" />
    <script src="~/Public/lib/nepali.datepicker.v2.2/nepali.datepicker.v2.2.min.js"></script>

 
    <script type="text/javascript">
        $('.date').nepaliDatePicker({
            npdMonth: true,
            npdYear: true,
            npdYearCount: 10 // Options | Number of years to show
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".custom-select").customselect();

          

            $('#frmEncahsment').submit(function () {
               
               var balanceDays = $("#balance_leave_days").val();
                balanceDays = balanceDays * 1;
                var bal = $('#LeaveDays').val();
                bal = bal * 1;
                if (bal > balanceDays)
                {
                    alert("Sorry,You do not have sufficent balance for leave encashment");
                    return false;
                }else
                { return true;}
                
            });

            $('#EmpCode').change(function () {

                $("#balance_leave_days").val(0);
                $('#LeaveDays').val(0);
                $('#LeaveTypeId').val('');
            })
        });



        $("#LeaveTypeId").change(function () {
           
            $.ajax({
                type: "POST",
                url: '@Url.Action("PayrollLeaveBalance", "PayrollLeaveDeduction")',
           
                data: {
                        EmpCode: $("#EmpCode").val(),
                        LeaveTypeId: $("#LeaveTypeId").val(),
                        LeaveYearId: $("#LeaveYearId").val()
                    },
                dataType: "json",
                success: function (data) {
                   var lb = data;
                   $("#lb").show();
                   $("#lb").text('Available Days: ' + lb);
                   $("#balance_leave_days").val(lb);


                }

            });


        });
 
    </script>
}
