@model BeeHRM.ApplicationService.DTOs.PayrollLeaveDeductionDTO

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<link href="~/Public/lib/nepali.datepicker.v2.2/nepali.datepicker.v2.2.min.css" rel="stylesheet" />


@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/PayrollLeaveDeduction/Index" class="btn btn-success"><i class="fa fa-bars"></i> View Payroll Leave Deduction List</a>
                            </span><a href="#"></a>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    ADD PAYROLL LEAVE DEDUCTION TYPE
                </h2>
            </div>
        </div>
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> @ViewBag.Success
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-times" aria-hidden="true"></i> @ViewBag.Error
    </div>
}

<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <span class="error-label">
                @Html.ValidationSummary()
            </span>
            <div class="col-md-6">

                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(model => model.DeductionId)
                    @Html.AntiForgeryToken()

                    <div class="box-body">

                        <div class="form-group">
                            <label for="leave_type">Employee(*)</label>
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.EmpId, Model.EmployeeCodeSelectlist, "Select Please", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EmpCode, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="form-group">
                                <label for="leave_type">Year(*)</label>
                            </div>*@
                        <div class="form-group" style="display:none">
                            @Html.DropDownListFor(model => model.LeaveYearId, Model.YearSelectList, "Select Please", new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.LeaveYearId, "", new { @class = "text-danger" })
                        </div>




                        <div class="form-group">
                            <label for="LeaveTypeId"> Leave Type</label>
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.LeaveTypeId, Model.LeaveTypeSelectList, "Select Please", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LeaveDays, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.LeaveDays, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LeaveDays, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LeaveDate, "Leave Date")
                            @Html.EditorFor(model => model.LeaveDateNepali, new { htmlAttributes = new { @class = "form-control date" } })
                            @Html.ValidationMessageFor(model => model.LeaveDate, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group ">
                            <label for="desc">Details(*)</label>
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.Details, 10, 63, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Enter leave application description" } })
                            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="form-group">
                                <textarea class="form-control" placeholder="Enter leave application description" name="Details" cols="50" rows="10" id="desc"></textarea>
                            </div>*@

                    </div>

                    <div class="box-footer">
                        <div class="col-md-10">
                            <input type="submit" value="Save" id="btnSubmit" class="btn btn-success" />
                        </div>
                    </div>

                }
            </div>

        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Content/Custom Select/src/jquery-customselect.js"></script>
    <link href="~/Content/Custom Select/src/jquery-customselect.css" rel="stylesheet" />
<script src="~/Public/lib/nepali.datepicker.v2.2/nepali.datepicker.v2.2.min.js"></script>


<script type="text/javascript">
        $('.date').nepaliDatePicker({
            npdMonth: true,
            npdYear: true,
            npdYearCount: 10 // Options | Number of years to show
        });
</script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MMM-DD'
            });


            $('#datetimepicker2').datetimepicker({
                format: 'YYYY-MMM-DD'
            });
        });
    </script>
}
