@model BeeHRM.ApplicationService.DTOs.HolidayDTOs
@{
    ViewBag.Title = "EditHolidy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    <link rel="stylesheet" type="text/css" href="/content/DataTables/datatables.min.css" />
    <link href="~/Scripts/multiselect/css/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <style>
        ul.tabs {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }

            ul.tabs li {
                background: none;
                color: #222;
                display: inline-block;
                padding: 10px 15px;
                cursor: pointer;
            }

                ul.tabs li.current {
                    background: #ededed;
                    color: #222;
                }

        .tab-content {
            display: none;
            background: #ededed;
            padding: 15px;
        }

            .tab-content.current {
                display: inherit;
            }
    </style>
}






@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}


@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>
                                  <a href="/holiday" class="btn btn-success"><i class="fa fa-bars"></i>  Holiday List</a>
                            </span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Edit Holiday
                </h2>
            </div>
        </div>
    </div>
}



<div class="panel-body box box-top-border">
    <form accept-charset="UTF-8" action="/holiday/edit/@Model.HolidayId" method="POST">

        <input type="hidden" name="HolidayId" value="@Model.HolidayId" />

        <div class="box-body">
            <div class="form-group ">
                <label for="label">Holiday(*)</label>
                @Html.TextBox("HolidayTitle", Model.HolidayTitle, new { @class = "form-control", placeholder = "Enter Holiday Title" })
                <snap class="text-danger"> @Html.ValidationMessage("HolidayTitle", "", new { @class = "text-danger" })</snap>


            </div>
            <div class="row">
                <div class="form-group " style="margin-left:2%">
                    
                  
                    <label for="enddate"> @if (Model.HolidayStatus == true)
                    {
                        @Html.CheckBox("HolidayStatus", true)
                    }
                    else
                    {
                        @Html.CheckBox("HolidayStatus")
                    }  &nbsp; &nbsp; Holiday Status  </label>
                </div>
            </div>



            <div class="row">


                <div class="form-group box-body">
                    <label> Holiday Types  </label>
                    <br />
                    <div>

                        @if (Model.HolidayOfficeId == 0)
                            {
                            <input type="radio" value="0" name="HolidayOfficeId" checked="checked" /> <b>All Offices &nbsp; &nbsp;</b>
                            <input type="radio" value="1" name="HolidayOfficeId" /> <b> Some Offices</b>

                            }
                            else
                            {
                            <input type="radio" value="0" name="HolidayOfficeId" />  <b>All Offices &nbsp; &nbsp;</b>
                            <input type="radio" value="1" name="HolidayOfficeId" checked="checked" /> <b> Some Offices</b>
                            }

                    </div>


                </div>
            </div>




            <div class="form-group " id="branch">
                <label for="branch_id[]">Choose Branch(*)</label>

                <div class="row">
                    <div class="col-sm-5">
                        <select id="search" class="form-control" size="8" multiple="multiple">

                            @{
                                int i = 0;
                                foreach (var Str in Model.BranchSelectList)
                                {
                                    i++;
                            <option value="@Str.Value" data-position="@i">@Str.Text</option>
                                }
                            }

                        </select>
                    </div>

                    <div class="col-sm-2">
                        <br /> <br /> <br />
                        <button type="button" id="search_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                        <button type="button" id="search_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                        <button type="button" id="search_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                        <button type="button" id="search_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                    </div>

                    <div class="col-sm-5">
                        <select name="offices[]" id="search_to" class="form-control" size="8" multiple="multiple">

                            @{
                                int j = 0;
                                foreach (var Str in Model.SelectedOffices)
                                {
                                    j++;
                            <option value="@Str.Value" data-position="@j">@Str.Text</option>
                                }
                            }
                        </select>
                        <snap class="text-danger"> @Html.ValidationMessage("SelectList", "", new { @class = "text-danger" })</snap>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-md-5">
                    <label for="startdate">Holiday Date </label>
                    <div class='time'>
                        @*<input class="form-control timepicker" placeholder="Holiday Date"  type="text" name="HolidayDate">*@
                        <label class="form-control"> @Model.HolidayDate.ToString("yyyy-MMM-dd") </label>
                        <input type="hidden" name="HolidayDateNP" class="form-control" value="@Model.HolidayDate" />
                        @*<span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>*@

                    </div>
                    <snap class="text-danger"> @Html.ValidationMessage("HolidayDate", "", new { @class = "text-danger" })</snap>
                </div>
                <div class="form-group col-md-5 col-lg-offset-2">
                    <label for="startdate">Gender </label>
                    @Html.DropDownListFor(m => m.HolidayGender, Model.GenderList, new { @class = "form-control" })
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-5">
                    <label for="startdate">Religion </label>
                    @Html.DropDownListFor(m => m.HolidayReligionId, Model.ReligionSelectList, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-5 col-lg-offset-2">
                    <label for="enddate">Ethinicity  </label>
                    @Html.DropDownListFor(m => m.HolidayEthnicityId, Model.EthnicitySelectList, new { @class = "form-control" })
                </div>

            </div>


            <div class="form-group ">
                <label for="desc">Description(*)</label>
                @Html.TextArea("HolidayDescription", new { @class = "form-control", placeholder = "Enter Holiday Description" })

                <snap class="text-danger"> @Html.ValidationMessage("HolidayDescription", "", new { @class = "text-danger" })</snap>
            </div>
        </div>




        <div class="box-footer">
            <button class="btn btn-success" value="1" name="returnBack" type="submit">Save</button>
            <button class="btn btn-success" type="submit">Save &amp; Close</button>
        </div>
    </form>
</div>





@section scripts{

    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/multiselect/js/multiselect.js"></script>



    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            $('#multiselect').multiselect();
            $('#search').multiselect({
                search: {
                    left: '<input type="text" name="q" class="form-control" placeholder="Search..." /> <br />',
                    right: ' <input type="text" name="q" class="form-control" placeholder="Search..." /> <br />',
                }
            });

            if ($("input[name='HolidayOfficeId']:checked").val() === "0") {

                $('#branch').css({
                    'opacity': 0.3,
                    'pointer-events': 'none',
                    'cursor': 'none'
                });
            }

            $('.multiselect').multiselect();
            $('.js-multiselect').multiselect({
                right: '#js_multiselect_to_1',
                rightAll: '#js_right_All_1',
                rightSelected: '#js_right_Selected_1',
                leftSelected: '#js_left_Selected_1',
                leftAll: '#js_left_All_1'
            });


            $("input[name='HolidayOfficeId']").click(function () {
                if ($("input[name='HolidayOfficeId']:checked").val() === "0") {

                    $('#branch').css({
                        'opacity': 0.3,
                        'pointer-events': 'none',
                        'cursor': 'none'
                    });

                }
                if ($("input[name='HolidayOfficeId']:checked").val() === "1") {
                    $('#branch').css({
                        'opacity': 1,
                        'pointer-events': 'auto',
                        'cursor': 'pointer'
                    });
                }
            });

        });
    </script>
}