@model BeeHRM.ApplicationService.ViewModel.JobHistoryViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}

@section styles{
    <link href="~/Public/lib/nepali.datepicker.v2.2/nepali.datepicker.v2.2.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    अवकास
                </h2>
            </div>
        </div>
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> @ViewBag.Success
    </div>
}

<div class="col-md-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
            </div>
            <i class="fa fa-fw fa-thumb-tack"></i> <strong>कर्मचारी अवकास </strong>
        </div>
        <div class="panel-body basic">
            <h3> हालको कर्मचारी विवरण  </h3>
            <div class="media-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Office:</th>
                        <th>Designation:</th>
                        <th>Department:</th>
                        <th>Section:</th>
                    </tr>
                    <tr>
                        <td>@Model.EmployeeDetails.OfficeName</td>
                        <td>@Model.EmployeeDetails.Designation</td>
                        <td>@Model.EmployeeDetails.Department</td>
                        <td>@Model.EmployeeDetails.Section</td>
                    </tr>
                    <tr>
                        <th>Level:</th>
                        <th>Rank:</th>
                        <th>Current Rank Appt.:</th>
                        <th>Job Type:</th>
                    </tr>
                    <tr>
                        <td>@Model.EmployeeDetails.Level</td>
                        <td>@Model.EmployeeDetails.Rank</td>
                        <td>@Model.EmployeeDetails.Rank</td>
                        <td>@Model.EmployeeDetails.JobType</td>
                    </tr>


                </table>
                <h3>अवकास र अन्य विवरण छानुहुओस</h3>
            </div>
            @using (Html.BeginForm("AbakashEdit", "Abakas", FormMethod.Post, new { id = "target" }))
            {
                @Html.AntiForgeryToken()

                <hr />
                <div class="form-horizontal">
                    @Html.ValidationSummary()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <table width="97%">
                        @*


                            <tr>
                                <td>


                            </tr>*@
                        <tr>
                            @Html.HiddenFor(model => model.JobHistories.HistoryId)
                            @Html.HiddenFor(model => model.JobHistories.EmpCode)
                            @Html.HiddenFor(model => model.JobHistories.OfficeId)
                            @Html.HiddenFor(model => model.JobHistories.DeptId)
                            @Html.HiddenFor(model => model.JobHistories.SectionId)
                            @Html.HiddenFor(model => model.JobHistories.LevelId)
                            @Html.HiddenFor(model => model.JobHistories.DesgId)
                            @Html.HiddenFor(model => model.JobHistories.RankId)
                            @Html.HiddenFor(model => model.JobHistories.BusinessGroupId)
                            @Html.HiddenFor(model => model.JobHistories.ShiftId)
                            @Html.HiddenFor(model => model.JobHistories.DesgId)
                            @Html.HiddenFor(model => model.JobHistories.JobTypeId)
                            <th>@Html.LabelFor(model => model.JobHistories.ServiceEventSubGroupId, "अवकास किसिम")</th>
                            <th>@Html.LabelFor(model => model.JobHistories.DecisionDate)</th>
                            <th>@Html.LabelFor(model => model.JobHistories.LetterIssueDate)</th>
                        </tr>
                        <tr>
                            <td>
                                @{
                                    List<SelectListItem> ServiceEvenList = ViewBag.SubGroupList;

                                }
                                @Html.DropDownListFor(model => model.JobHistories.ServiceEventSubGroupId, ServiceEvenList, new { @class = "form-control", @style="width:80%", required = "required" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.JobHistories.DecisionDateNP, new { htmlAttributes = new { @class = " date form-control", @style = "width:80%", required = "required" } })
                                @Html.ValidationMessageFor(model => model.JobHistories.DecisionDate, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.JobHistories.LetterIssueDateNP, new { htmlAttributes = new { @class = " date form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.JobHistories.LetterIssueDate, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <th>@Html.LabelFor(model => model.JobHistories.LetterRefNo)</th>
                            <th>@Html.LabelFor(model => model.JobHistories.EffectiveDate)</th>
                            <th>@Html.LabelFor(model => model.JobHistories.ServiceHolidingDate)</th>
                        </tr>
                        <tr>
                            <td>
                                @Html.EditorFor(model => model.JobHistories.LetterRefNo, new { htmlAttributes = new { @class = "form-control", @style = "width:80%", required = "required" } })
                                @Html.ValidationMessageFor(model => model.JobHistories.LetterRefNo, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.JobHistories.EffectiveDateNP, new { htmlAttributes = new { @class = "date form-control", @style = "width:80%", required = "required" } })
                                @Html.ValidationMessageFor(model => model.JobHistories.EffectiveDate, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.JobHistories.ServiceHolidingDateNP, new { htmlAttributes = new { @class = "date form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.JobHistories.ServiceHolidingDate, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <th>@Html.LabelFor(model => model.JobHistories.OfficeJoinDate)</th>
                            <th>@Html.LabelFor(model => model.JobHistories.EffectiveTillDate)</th>
                            <th>@Html.LabelFor(model => model.JobHistories.SadarDate)</th>
                        </tr>
                        <tr>
                            <td>
                                @Html.EditorFor(model => model.JobHistories.OfficeJoinDateNP, new { htmlAttributes = new { @class = " date form-control", @style="width:80%", required = "required" } })
                                @Html.ValidationMessageFor(model => model.JobHistories.OfficeJoinDate, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.JobHistories.EffectiveTillDateNP, new { htmlAttributes = new { @class = "date form-control", @style = "width:80%", required = "required" } })
                                @Html.ValidationMessageFor(model => model.JobHistories.EffectiveTillDate, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.JobHistories.SadarDateNP, new { htmlAttributes = new { @class = "date form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.JobHistories.SadarDate, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <th>@Html.LabelFor(model => model.JobHistories.ServiceEvent)</th>
                            <th>@Html.LabelFor(model => model.JobHistories.Instruction)</th>
                            <th>@Html.LabelFor(model => model.JobHistories.SadarGarneEmployeeCode)</th>
                        </tr>
                        <tr>
                            <td>
                                @Html.EditorFor(model => model.JobHistories.ServiceEvent, new { htmlAttributes = new { @class = "form-control", @style = "width:80%", required = "required" } })
                                @Html.ValidationMessageFor(model => model.JobHistories.ServiceEvent, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.JobHistories.Instruction, new { htmlAttributes = new { @class = "form-control", @style = "width:80%", required = "required" } })
                                @Html.ValidationMessageFor(model => model.JobHistories.Instruction, "", new {@class = "text-danger" })
                            </td>

                            <td>
                                @{
                                    List<SelectListItem> EmployeeList = ViewBag.employeeList;
                                }
                                @Html.DropDownListFor(model => model.JobHistories.SadarGarneEmployeeCode, EmployeeList, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.JobHistories.SadarGarneEmployeeCode, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.UpdateAsCurrent)</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.EditorFor(model => model.UpdateAsCurrent)
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td>
                                <input type="submit" value="अवकास" class="btn btn-primary" />
                                <a href="/History/@Model.EmployeeDetails.Code" class="btn btn-primary">Back</a>
                            </td>

                        </tr>
                    </table>
                </div>

                                    }


        </div>
    </div>
</div>
@section scripts{
    <script src="~/Public/lib/nepali.datepicker.v2.2/nepali.datepicker.v2.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.dialogBox.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script>
        $('#target').on('submit', function () {
            if ($('#UpdateAsCurrent').prop('checked')) {
                alert('This will update employees current status as well');
            }
            var res = confirm("Are you sure to अवकास?");
            if (!res) {
                return false;
            }
        });

        $(document).ready(function () {
            $('.date').nepaliDatePicker({
                npdMonth: true,
                npdYear: true,
                npdYearCount: 10 // Options | Number of years to show
            });
        });


    </script>
}



