@model BeeHRM.ApplicationService.ViewModel.EmployeeJobHistoryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}

@section styles{
    <link href="~/Public/lib/nepali.datepicker.v2.2/nepali.datepicker.v2.2.min.css" rel="stylesheet" />
    <link href="~/Content/Custom Select/src/jquery-customselect.css" rel="stylesheet" />
    <style type="text/css">
        .quick-link a.list-group-item {
            font-weight: 600;
        }

        .quick-link .nav {
            border: none;
            font-size: 19px;
            color: #FBC702;
            font-weight: 600;
            padding: 7px 10px;
        }

        #list-border-remove .badge {
            color: black;
            background-color: transparent;
        }

        #list-border-remove .list-group-item {
            border: none;
        }

        .ribbon span {
            border: 1px solid #faa;
            color: #fff;
            display: block;
            font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
            margin: 1px 0;
            padding: 10px 41px;
            text-align: center;
            text-decoration: none;
            text-shadow: 0 0 5px #444;
        }

        .nomarginbtm {
            margin-bottom: 0 !important;
        }

        .ribbon-wrapper {
            width: 350px;
            height: 150px;
            overflow: hidden;
            position: absolute;
            top: -18px;
            left: -13px;
        }

        .ribbon-green {
            font: bold 15px Sans-Serif;
            color: #333;
            border-radius: 40px 40px 1px 1px;
            text-align: center;
            text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            position: relative;
            padding: 7px 0;
            left: -26px;
            top: 49px;
            width: 172px;
            background-color: #BFDC7A;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
            background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
            background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
            background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
            background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
            color: #6a6340;
            -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
        }

        .ribbon-red {
            font: bold 15px Sans-Serif;
            color: #333;
            border-radius: 40px 40px 1px 1px;
            text-align: center;
            text-shadow: rgba(166, 134, 134, 0.5) 0px 1px 0px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            position: relative;
            padding: 7px 0;
            left: -26px;
            top: 49px;
            width: 172px;
            background-color: #a00 !important;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#C22323), to(#CA4E4E));
            background-image: -webkit-linear-gradient(top, #C22323, #CA4E4E);
            background-image: -moz-linear-gradient(top, #C22323, #CA4E4E);
            background-image: -ms-linear-gradient(top, #C22323, #CA4E4E);
            background-image: -o-linear-gradient(top, #C22323, #CA4E4E);
            color: #F4F4F4;
            -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
        }

        .ribbon-green:before, .ribbon-green:after {
            content: "";
            border-top: 3px solid #6e8900;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            position: absolute;
            bottom: -3px;
        }

        .ribbon-red:before, .ribbon-red:after {
            content: "";
            border-top: 3px solid #a00;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            position: absolute;
            bottom: -3px;
        }

        .ribbon-green:before {
            left: 0;
        }

        .ribbon-green:after {
            right: 0;
        }

        .ribbon-red:before {
            left: 0;
        }

        .ribbon-red:after {
            right: 0;
        }
    </style>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    अवकास
                </h2>
            </div>
        </div>
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> @ViewBag.Success
    </div>
}

<div class="col-md-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
            </div>
            <i class="fa fa-fw fa-thumb-tack"></i> <strong>कर्मचारी अवकास </strong>
        </div>
        <div class="panel-body basic">
            <h3> हालको कर्मचारी विवरण  </h3>
            <div class="media-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Office:</th>
                        <th>Designation:</th>
                        <th>Department:</th>
                        <th>Section:</th>
                    </tr>
                    <tr>
                        <td>@Model.OfficeName</td>
                        <td>@Model.Designation</td>
                        <td>@Model.Department</td>
                        <td>@Model.Section</td>
                    </tr>
                    <tr>
                        <th>Level:</th>
                        <th>Rank:</th>
                        <th>Current Rank Appt.:</th>
                        <th>Job Type:</th>
                    </tr>
                    <tr>
                        <td>@Model.Level</td>
                        <td>@Model.Rank</td>
                        <td>@Model.Rank</td>
                        <td>@Model.JobType</td>
                    </tr>


                </table>
                <h3>अवकास र अन्य विवरण छानुहुओस</h3>
            </div>
            @using (Html.BeginForm("Abakash", "Abakas", FormMethod.Post, new { id = "target" }))
            {
                @Html.AntiForgeryToken()

                <hr />
                <div class="form-horizontal">
                    @Html.ValidationSummary()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <table width="97%">

                        <tr>
                            <th>@Html.LabelFor(model => model.ServiceEventSubGroupId, "अवकास किसिम")</th>
                            <th>@Html.LabelFor(model => model.DecisionDate)</th>
                            <th>@Html.LabelFor(model => model.LetterIssueDate)</th>
                        </tr>
                        <tr>
                            <td>
                                @{
                                    List<SelectListItem> ServiceEvenList = ViewBag.SubGroupList;

                                }
                                @Html.DropDownListFor(model => model.ServiceEventSubGroupId, ServiceEvenList, new { @class = "form-control", @style = "width:80%" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.DecisionDateNP, new { htmlAttributes = new { @class = "form-control date", @style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.DecisionDate, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LetterIssueDateNP, new { htmlAttributes = new { @class = "form-control date" } })
                                @Html.ValidationMessageFor(model => model.LetterIssueDate, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <th>@Html.LabelFor(model => model.LetterChalaniNumber)</th>
                            <th>@Html.LabelFor(model => model.EffectiveDate)</th>
                            <th>@Html.LabelFor(model => model.ServiceCountingFromDate)</th>
                        </tr>
                        <tr>
                            <td>
                                @Html.EditorFor(model => model.LetterChalaniNumber, new { htmlAttributes = new { @class = "form-control", @style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.LetterChalaniNumber, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.EffectiveDateNP, new { htmlAttributes = new { @class = "form-control date", @style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.EffectiveDate, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ServiceCountingFromDateNP, new { htmlAttributes = new { @class = "form-control date" } })
                                @Html.ValidationMessageFor(model => model.ServiceCountingFromDate, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <th>@Html.LabelFor(model => model.OfficeJoinDate)</th>
                            <th>@Html.LabelFor(model => model.EffectiveTillDate)</th>
                            <th>@Html.LabelFor(model => model.SadarDate)</th>
                        </tr>
                        <tr>


                            <td>
                                @Html.EditorFor(model => model.OfficeJoinDateNP, new { htmlAttributes = new { @class = "form-control date", @style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.OfficeJoinDate, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.EffectiveTillDateNP, new { htmlAttributes = new { @class = "form-control date", @style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.EffectiveTillDate, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.SadarDateNP, new { htmlAttributes = new { @class = "form-control date" } })
                                @Html.ValidationMessageFor(model => model.SadarDate, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>

                            <th>@Html.LabelFor(model => model.ServiceEvent)</th>

                            <th>@Html.LabelFor(model => model.Instruction)</th>
                            <th>@Html.LabelFor(model => model.SadarGarneEmployeeCode)</th>
                        </tr>
                        <tr>
                            <td>
                                @Html.EditorFor(model => model.ServiceEvent, new { htmlAttributes = new { @class = "form-control", @style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.ServiceEvent, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Instruction, new { htmlAttributes = new { @class = "form-control", @style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.Instruction, "", new { @class = "text-danger" })
                            </td>

                            <td>
                                @{
                                    List<SelectListItem> EmployeeList = ViewBag.employeeList;
                                }
                                @Html.DropDownListFor(model => model.SadarGarneEmployeeCode, EmployeeList, new { @class = "form-control custom-select" })
                                @Html.ValidationMessageFor(model => model.SadarGarneEmployeeCode, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td><input type="submit" value="अवकास गर्नुहोस" class="btn btn-primary" /></td>
                        </tr>
                    </table>
                </div>

                                    }


        </div>
    </div>
</div>
@section scripts{
    <script src="~/Public/lib/nepali.datepicker.v2.2/nepali.datepicker.v2.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.dialogBox.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/Custom Select/src/jquery-customselect.js"></script>

    <script>
        $(document).ready(function () {
            $(".custom-select").customselect();
        });
        $('#target').on('submit', function () {
            var res = confirm("Are you sure to अवकास?");
            if (!res) {
                return false;
            }
        });


        $(document).ready(function () {
            $('.date').nepaliDatePicker({
                npdMonth: true,
                npdYear: true,
                npdYearCount: 10 // Options | Number of years to show
            });
        });
        


    </script>
}







