@model BeeHRM.ApplicationService.DTOs.LeaveTypeDTO
@{
    ViewBag.Title = "LeaveTypeAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/leavetype" class="btn btn-success"><i class="fa fa-bars"></i> View Leavetype List</a>
                            </span><a href="#"></a>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    ADD LEAVE TYPE
                </h2>
            </div>
        </div>
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> @ViewBag.Success
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-times" aria-hidden="true"></i> @ViewBag.Error
    </div>
}

@Html.ValidationSummary()
<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <div class="col-md-8">
                <form method="POST" action="/leavetype/create" accept-charset="UTF-8">
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="form-group ">
                            <label for="label">Label(*)</label>
                            <input class="form-control" placeholder="Enter leave type label" name="LeaveTypeName" type="text" id="label" required>
                            <span class="error-label">@Html.ValidationMessageFor(x => x.LeaveTypeName)</span>
                        </div>
                        <div class="form-group ">
                            <label for="desc">Description</label>
                            <input class="form-control" placeholder="Enter leave type description" name="LeaveTypeDescription" type="text" id="desc">
                        </div>
                        <div class="form-group ">
                            <label for="number_of_time">Is one time or yearly?</label><br>
                            <select class="form-control" id="NumberOfTime" name="NumberOfTime">
                                <option value="0">Unlimited</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="is_cashable">Is Payable</label>
                            <select class="form-control" id="is_cashable" name="IsPayable">
                                <option value="True">Payable</option>
                                <option value="False">Non-Payable</option>
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="is_cashable">Is Cashable</label>
                            <select class="form-control" id="is_cashable" name="IsCashable">
                                <option value="True">Cashable</option>
                                <option value="False">Non-Cashable</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="max_cashable">Max Cashable</label>
                            <input class="form-control" name="MaxCashable" type="text" id="max_cashable">
                            <span>0=not cashable and >0 is cashable days.Note cashable leave doesn't apply for one time leave.</span>
                            <span class="error-label">@Html.ValidationMessageFor(x => x.MaxCashable)</span>
                        </div>
                        <div class="form-group">
                            <label for="marritial_status">Applicable Maritial Status</label>
                            <select class="form-control" id="MaritalStatus" name="MaritalStatus">
                                <option value="B">Both</option>
                                <option value="M">Married</option>
                                <option value="U">Un-Married</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="gender">Applicable Gender</label>
                            <select class="form-control" id="Gender" name="gender">
                                <option value="B">Both</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="is_tranferable">Is Transferable</label>
                            <select class="form-control" id="is_tranferable" name="IsTransferable">
                                <option value="True">Transferable</option>
                                <option value="False">Non-Transferable</option>
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="max_transferable">Maximum Transferable</label>
                            <input class="form-control" name="MaxTransferable" type="text" id="max_transferable">
                            <span class="error-label">@Html.ValidationMessageFor(x => x.MaxTransferable)</span>
                        </div>
                        <div class="form-group ">
                            <label for="leave_apply_before">Leave Apply Before Days</label>
                            <input class="form-control" name="LeaveApplyBefore" type="text" id="leave_apply_before">
                            <span>Apply leave before days(0= No Restriction)</span>
                            <span class="error-label">@Html.ValidationMessageFor(x => x.LeaveApplyBefore)</span>

                        </div>
                        @*<div class="form-group ">
                                <label for="leave_qty_monthly">Number of Leave Days in a Month</label>
                                <input class="form-control" name="MonthlyQty" type="text" id="leave_qty_monthly">
                                <span>Number of leave days allowed in a month(0= No Restriction)</span>
                                <span class="error-label">@Html.ValidationMessageFor(x => x.MonthlyQty)</span>

                            </div>*@
                        <div class="form-group ">
                            <label for="LeaveTypeAssignment">Leave Type Assignment</label>
                            <select class="form-control" id="LeaveTypeAssignment" name="LeaveTypeAssignment">
                                <option value="Assigned">Assigned</option>
                                <option value="Unassigned">Earning</option>
                            </select>
                        </div>

                        <div class="form-group ">
                            <label for="LeaveType1">Leave Type </label>
                            <select class="form-control" id="LeaveType1" name="LeaveType1">
                                <option value="General">General</option>
                                <option value="Special">Special</option>
                            </select>
                        </div>

                        <div class="form-group ">
                           <input type="checkbox" name="HalfdayAllow" value="true" id="HalfdayAllow" /> <label>Half Day Allow</label>
                       
                        </div>

                    </div>
                    <div class="box-footer">
                        <input type="submit" name="action:LeaveTypeCreate" value="Save" class="btn btn-success">
                        <input type="submit" name="action:LeaveTypeCreateClose" class="btn btn-success" value="Save & Close">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
