@model BeeHRM.ApplicationService.DTOs.EmpEducationDTO

@{
    ViewBag.Title = "EdicationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}

@section styles{
    <style type="text/css">
        .quick-link a.list-group-item {
            font-weight: 600;
        }

        .quick-link .nav {
            border: none;
            font-size: 19px;
            color: #FBC702;
            font-weight: 600;
            padding: 7px 10px;
        }

        #list-border-remove .badge {
            color: black;
            background-color: transparent;
        }

        #list-border-remove .list-group-item {
            border: none;
        }

        .ribbon span {
            border: 1px solid #faa;
            color: #fff;
            display: block;
            font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
            margin: 1px 0;
            padding: 10px 41px;
            text-align: center;
            text-decoration: none;
            text-shadow: 0 0 5px #444;
        }

        .nomarginbtm {
            margin-bottom: 0 !important;
        }

        .ribbon-wrapper {
            width: 350px;
            height: 150px;
            overflow: hidden;
            position: absolute;
            top: -18px;
            left: -13px;
        }

        .ribbon-green {
            font: bold 15px Sans-Serif;
            color: #333;
            border-radius: 40px 40px 1px 1px;
            text-align: center;
            text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            position: relative;
            padding: 7px 0;
            left: -26px;
            top: 49px;
            width: 172px;
            background-color: #BFDC7A;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
            background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
            background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
            background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
            background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
            color: #6a6340;
            -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
        }

        .ribbon-red {
            font: bold 15px Sans-Serif;
            color: #333;
            border-radius: 40px 40px 1px 1px;
            text-align: center;
            text-shadow: rgba(166, 134, 134, 0.5) 0px 1px 0px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            position: relative;
            padding: 7px 0;
            left: -26px;
            top: 49px;
            width: 172px;
            background-color: #a00 !important;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#C22323), to(#CA4E4E));
            background-image: -webkit-linear-gradient(top, #C22323, #CA4E4E);
            background-image: -moz-linear-gradient(top, #C22323, #CA4E4E);
            background-image: -ms-linear-gradient(top, #C22323, #CA4E4E);
            background-image: -o-linear-gradient(top, #C22323, #CA4E4E);
            color: #F4F4F4;
            -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
        }

        .ribbon-green:before, .ribbon-green:after {
            content: "";
            border-top: 3px solid #6e8900;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            position: absolute;
            bottom: -3px;
        }

        .ribbon-red:before, .ribbon-red:after {
            content: "";
            border-top: 3px solid #a00;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            position: absolute;
            bottom: -3px;
        }

        .ribbon-green:before {
            left: 0;
        }

        .ribbon-green:after {
            right: 0;
        }

        .ribbon-red:before {
            left: 0;
        }

        .ribbon-red:after {
            right: 0;
        }
    </style>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span><a href='@Url.Action("Education","UserEmployee")'><i class="fa fa-bars" aria-hidden="true"></i>View</a></span></li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Detail of Employee
                </h2>
            </div>
        </div>
    </div>
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> @ViewBag.Success
    </div>
}
@Html.Partial("_partialpageUserProfileDetail")

<div class="col-md-8 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
            </div>
            <i class="fa fa-fw fa-thumb-tack"></i><strong>Education Detail</strong>
        </div>
        <div class="panel-body basic">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="col-md-4">Education Level</span>
                    @if (Model.EducationLevelName == null)
                    {
                        <span>Not Defined</span>
                    }
                    @Model.EducationLevelName
                </li>
                <li class="list-group-item">
                    <span class="col-md-4">Degree Name </span>
                    @if (Model.DegreeName == null)
                    {
                        <span>Not Defined</span>
                    }
                    @Model.DegreeName
                </li>
                <li class="list-group-item">
                    <span class="col-md-4">Faculty Name</span>
                    @Model.FacultyName
                </li>
                <li class="list-group-item">
                    <span class="col-md-4">Passed Date</span>
                    @*@Convert.ToDateTime(Model.PassedDate).ToString("yyyy/M/dd")*@
                    @{var appointmentdate = !String.IsNullOrEmpty(Model.PassedDate.ToString()) ? BeeHrmClientWeb.Utilities.Date.NepDateConverter.EngToNep(Convert.ToDateTime(Model.PassedDate)).ToString().Replace('/', '-') : null;
                    }
                    @if (@appointmentdate != null)
                    {
                        <p>@appointmentdate (@(Convert.ToString(Model.PassedDate) == "" ? "" : Convert.ToDateTime(Model.PassedDate).ToString("yyyy-MMM-dd")))</p>
                    }
                    else {
                        <p></p>
                    }
                   
                </li>
                <li class="list-group-item">
                    <span class="col-md-4">Country</span>
                    @if (Model.CountryName == null)
                    {
                        <span>Not Defined</span>
                    }
                    @Model.CountryName
                </li>

                <li class="list-group-item">
                    <span class="col-md-4">University Name</span>
                    @if (Model.UniversityName == null)
                    {
                        <span>Not Defined</span>
                    }
                    @Model.UniversityName
                </li>
                <li class="list-group-item">
                    <span class="col-md-4">Marking System</span>
                    @if (Model.MarkingSystem == null)
                    {
                        <span>Not Defined</span>
                    }
                    @Model.MarkingSystem
                </li>
                <li class="list-group-item">
                    <span class="col-md-4">Obtain Mark</span>
                    @if (Model.ObtainedMark == null)
                    {
                        <span>Not Defined</span>
                    }
                    @Model.ObtainedMark
                </li>
                <li class="list-group-item">
                    <span class="col-md-4">Scan Document</span>
                    @if(Model.ScanDocument==null)
                    {
                        <span>Not Defined</span>
                    }
                    <a href="~/img/@Model.ScanDocument" download>@Model.ScanDocument</a>
               </li>
                @*<li class="list-group-item">
        <span class="col-md-4">Education Status</span>
        @Html.DisplayFor(modelItem => Model.educations)
    </li>*@
                @*<li class="list-group-item">
                    <span class="col-md-4">Division</span>
                    @Html.DisplayFor(modelItem => Model.divisio)
                </li>*@
            </ul>
        </div>
    </div>
</div>

