@{
    ViewBag.Title = "AttendanceRequestList";

    var i = 0;


    var officeid = "";
    if (ViewBag.officeid != null)
    {
        officeid = ViewBag.officeid.ToString();
    }
    int? approvestatus = null;
    if (ViewBag.approvestatus != null)
    {
        approvestatus = ViewBag.approvestatus;
    }
    int? recommendstatus = null;
    if (ViewBag.recommendstatus != null)
    {
        recommendstatus = ViewBag.recommendstatus;
    }
    var empcode = "";
    if (ViewBag.empid != null)
    {
        empcode = ViewBag.empid.ToString();
    }

    //var startdate = "";
    //if (ViewBag.startdate != null)
    //{
    //    startdate = ViewBag.startdate.ToString();
    //}

    //var enddate = "";
    //if (ViewBag.enddate != null)
    //{
    //    enddate = ViewBag.enddate.ToString();
    //}
}
@model IEnumerable<BeeHRM.ApplicationService.ViewModel.AttendanceRequestsListViewModel>

@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}



@section styles{
    <link rel="stylesheet" type="text/css" href="/content/DataTables/datatables.min.css" />
    <link href="~/Public/lib/nepali.datepicker.v2.2/nepali.datepicker.v2.2.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <style>
        ul.tabs {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }

            ul.tabs li {
                background: none;
                color: #222;
                display: inline-block;
                padding: 10px 15px;
                cursor: pointer;
            }

                ul.tabs li.current {
                    background: #ededed;
                    color: #222;
                }

        .tab-content {
            display: none;
            background: #ededed;
            padding: 15px;
        }

            .tab-content.current {
                display: inherit;
            }
    </style>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> @TempData["Success"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> @TempData["Error"]
    </div>
}
@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>
                                @{

                                    if (ViewBag.AllowCreate)
                                    {
                                        <a href="/AdminAttendanceRequest/ApplyAttendance" class="btn btn-success"><i class="fa fa-plus-circle"></i>  Add Attendance Request</a>
                                    }
                                }
                            </span>

                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Attendance Requested list
                </h2>
            </div>
        </div>
    </div>
}

<div class="container-fluid">
    <div class="row ">
        <div class="panel panel-default box box-top-border">
            <div class="panel-body">
                <div class="box-body row">
                    <form action="/AdminAttendanceRequest/Index" method="post">
                        <div class="row">
                            <div class="col-md-3">
                                <select name="OfficeId" class="form-control custom-select" id="officelist">
                                    <option value="">  Office List </option>
                                    @foreach (var row in ViewBag.OfficeList)

                                    {

                                        <option @(officeid == row.OfficeId.ToString() ? "selected" : "") value="@row.OfficeId"> @row.OfficeName</option>
                                    }

                                </select>

                            </div>
                            <div class="col-md-3">
                                <select name="EmpCodes" class="form-control custom-select">
                                    <option value="">  Employee List </option>
                                    @foreach (var row in ViewBag.emplist)

                                    {


                                        <option @(empcode == row.EmpCode.ToString() ? "selected" : "") value="@row.EmpCode">@row.EmpCode - @row.EmpName</option>

                                    }

                                </select>

                            </div>

                            <div class="form-group col-md-3 ">
                                <input type='text' class="form-control date" id="date" name="startdateNP" value="@ViewBag.startdate" placeholder="Start date" required />
                            </div>
                            <div class="form-group col-md-3 ">
                                <input type='text' class="form-control date" id="date1" name="enddateNP" value="@ViewBag.enddate" placeholder="End Date" required />
                            </div>

                        </div>

                        <div class="clearfix"> <br /> </div>
                        <div class="row">



                            <div class="col-md-3">
                                <select name="RecommendSatus" class="form-control">
                                    <option value="">Select Recommend Status</option>
                                    @if (recommendstatus != null)
                                    {
                                        if (recommendstatus == 1)
                                        {
                                            <option value="1" selected>Pending</option>
                                            <option value="2">Approved</option>
                                            <option value="3">Rejected</option>
                                        }
                                        else
                                            if (recommendstatus == 2)
                                        {
                                            <option value="2" selected>Approved</option>
                                            <option value="3">Rejected</option>
                                            <option value="1">Pending</option>

                                        }
                                        else
                                            if (recommendstatus == 3)
                                        {
                                            <option value="3" selected>Rejected</option>
                                            <option value="1">Pending</option>
                                            <option value="2">Approved</option>
                                        }
                                    }
                                    else
                                    {

                                        <option value="1">Pending</option>
                                        <option value="2">Approved</option>
                                        <option value="3">Rejected</option>

                                    }

                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="ApproverStatus" class="form-control">
                                    <option value="">Select Approved Status</option>
                                    @if (approvestatus != null)
                                    {
                                        if (approvestatus == 1)
                                        {
                                            <option value="1" selected>Pending</option>
                                            <option value="2">Approved</option>
                                            <option value="3">Rejected</option>
                                        }
                                        else
                                            if (approvestatus == 2)
                                        {
                                            <option value="2" selected>Approved</option>
                                            <option value="3">Rejected</option>
                                            <option value="1">Pending</option>

                                        }
                                        else
                                            if (approvestatus == 3)
                                        {
                                            <option value="3" selected>Rejected</option>
                                            <option value="1">Pending</option>
                                            <option value="2">Approved</option>
                                        }
                                    }
                                    else
                                    {

                                        <option value="1">Pending</option>
                                        <option value="2">Approved</option>
                                        <option value="3">Rejected</option>

                                    }



                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-success" value="Search" />
                            </div>
                        </div>




                    </form>

                </div>
            </div>
        </div>


        <div class="box box-green well box box-top-border">
            <div class="box-body table-responsive">
                <div id="divToPrint">
                    <table class="table table-bordered" id="attendanceTable">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Request Date</th>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Request Type</th>
                                <th>Recommend Status</th>
                                <th>Approve Satus </th>
                                <th>Option</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var lst in Model)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        @*@(lst.RequestDate == "" ? "" : Convert.ToDateTime(lst.RequestDate).ToString("yyyy-MMM-dd"))*@
                                        @{var appointmentdate = !String.IsNullOrEmpty(lst.RequestDate.ToString()) ? BeeHrmClientWeb.Utilities.NepEngDate.EngToNep(Convert.ToDateTime(lst.RequestDate)).ToString().Replace('/', '-') : null;
                                        }
                                        @if (@appointmentdate != null)
                                        {
                                            <p>@appointmentdate (@(Convert.ToString(lst.RequestDate) == "" ? "" : Convert.ToDateTime(lst.RequestDate).ToString("yyyy-MMM-dd")))</p>
                                        }
                                        else {
                                            <p></p>
                                        }
                                    </td>
                                    <td>@lst.EmpName</td>
                                    <td>@lst.Designation</td>
                                    <td>@lst.RequestType</td>

                                    <td>
                                        @{
                                            if (lst.RecommendStatus.ToString() == "1")
                                            {
                                                <label class="label label-warning">Pending</label>
                                            }
                                            else
       if (lst.RecommendStatus.ToString() == "2")
                                            {
                                                <label class="label label-success">Approve</label>
                                            }
                                            else
     if (lst.RecommendStatus.ToString() == "3")
                                            {
                                                <label class="label label-danger">Rejected</label>
                                            }
                                            else
  if (lst.RecommendStatus.ToString() == "4")
                                            {
                                                <label class="label label-danger">Cancelled</label>
                                            }
                                            else
                                            {
                                                <label class="label label-warning">Pending</label>
                                            }
                                        }
                                        <br />
                                        @*@(lst.RecommendeDate == "" ? "" : Convert.ToDateTime(lst.RecommendeDate).ToString("yyyy-MMM-dd"))*@
                                        @{var recommendate = !String.IsNullOrEmpty(lst.RecommendeDate.ToString()) ? BeeHrmClientWeb.Utilities.NepEngDate.EngToNep(Convert.ToDateTime(lst.RecommendeDate)).ToString().Replace('/', '-') : null;
                                        }
                                        @if (@recommendate != null)
                                        {
                                            <p>@recommendate (@(Convert.ToString(lst.RecommendeDate) == "" ? "" : Convert.ToDateTime(lst.RecommendeDate).ToString("yyyy-MMM-dd")))</p>
                                        }
                                        else {
                                            <p></p>
                                        }
                                    </td>

                                    <td>
                                        @{ if (lst.ApproveStatus.ToString() == "1")
                                            {
                                                <label class="label label-warning">Pending</label>
                                            }
                                            else
            if (lst.ApproveStatus.ToString() == "2")
                                            {
                                                <label class="label label-success">Approve</label>
                                            }
                                            else
          if (lst.ApproveStatus.ToString() == "3")
                                            {
                                                <label class="label label-danger">Rejected</label>
                                            }
                                            else
       if (lst.ApproveStatus.ToString() == "4")
                                            {
                                                <label class="label label-danger">Cancelled</label>
                                            }
                                            else
                                            {
                                                <label class="label label-warning">Pending</label>
                                            }
                                        }
                                        <br />
                                        @*@(lst.ApproveDate == "" ? "" : Convert.ToDateTime(lst.ApproveDate).ToString("yyyy-MMM-dd"))*@
                                        @{var approvedate = !String.IsNullOrEmpty(lst.ApproveDate.ToString()) ? BeeHrmClientWeb.Utilities.NepEngDate.EngToNep(Convert.ToDateTime(lst.ApproveDate)).ToString().Replace('/', '-') : null;
                                        }
                                        @if (@approvedate != null)
                                        {
                                            <p>@approvedate (@(Convert.ToString(lst.ApproveDate) == "" ? "" : Convert.ToDateTime(lst.ApproveDate).ToString("yyyy-MMM-dd")))</p>
                                        }
                                        else {
                                            <p></p>
                                        }
                                    </td>

                                    <td>
                                        @{

                                            if (ViewBag.AllowEdit)
                                            {
                                                <a class="label-success label" href="/AdminAttendanceRequest/RequestDetail/@lst.RequestId"><i class="fa fa-eye"></i> </a>
                                            }
                                        }
                                    </td>
                                </tr>

                                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript" src="/content/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.dialogBox.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Public/lib/nepali.datepicker.v2.2/nepali.datepicker.v2.2.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#date').nepaliDatePicker({
                npdMonth: true,
                npdYear: true,
                npdYearCount: 10 // Options | Number of years to show
            });

            $('#date1').nepaliDatePicker({
                npdMonth: true,
                npdYear: true,
                npdYearCount: 10 // Options | Number of years to show
            });

            $('#attendanceTable').DataTable();
            $('.dataTables_filter').css('float', 'right');




        });

    </script>
}
