@model BeeHRM.Repository.EmployeeBank

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EmployeeBank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountPrimary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountPrimary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmpDisplayCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmpDisplayCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
