@model BeeHRM.ApplicationService.DTOs.EmployeeDocumentDTO

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}

@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/Document/Index/@Model.DocumentEmpCode" class="btn btn-success"><i class="fa fa-bars"></i> View Employee Document List</a>
                            </span><a href="#"></a>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    ADD EMPLOYEE DOCUMENT
                </h2>
            </div>
        </div>
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> @ViewBag.Success
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-times" aria-hidden="true"></i> @ViewBag.Error
    </div>
}


<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <span class="error-label">
                @Html.ValidationSummary()
            </span>
            <div class="col-md-6">
                @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                @using (Html.BeginForm("Add", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="box-body">
                        <label>Document Category</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.DocumentCatId, Model.DocumentCategorySelectlist, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DocumentCatId, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.DocumentRemarks)
                        <div class="form-group">
                            @Html.EditorFor(model => model.DocumentRemarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document Description" } })
                            @Html.ValidationMessageFor(model => model.DocumentRemarks, "", new { @class = "text-danger" })
                        </div>
                        <label for="file">Document</label>
                        <div>
                            <input class="" name="file" type="file" id="file">
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-md-10">
                            <input type="submit" value="Save" id="btnSubmit" class="btn btn-success" />
                            @Html.ActionLink("Cancel", "Index", "Document",new { @id = Model.DocumentEmpCode }, new { @class = "btn btn-success" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>