@model IEnumerable<BeeHRM.ApplicationService.DTOs.OfficeDTOs>

@{
    ViewBag.Title = "Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="/content/DataTables/datatables.min.css" />
}

@section scripts{
    <script type="text/javascript" src="/content/DataTables/datatables.min.js"></script>
    <script type="text/javascript">
        $('.dataTable').DataTable();
    </script>
}
@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @item.MOduleName</a></li>
                }
            </ul>
        </div>
    </div>
}
@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span><a href="~/Branch/Create"><i class="fa fa-plus-circle"></i> Add</a></span><a href=" "> </a> </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Branch
                </h2>
            </div>
        </div>
    </div>
}
<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="well box">
                    <div class="box-body table-responsive">
                        <table class="table table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        Branch Code
                                    </th>
                                    <th>
                                        Branch Name
                                    </th>
                                    <th>
                                        Upper Branch Name
                                    </th>
                                    <th>
                                        Branch Address
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Location
                                    </th>
                                    <th>
                                        Office Status
                                    </th>
                                    <th>
                                        Remote Name
                                    </th>
                                    <th>Office Head</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OfficeCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OfficeName)
                                        </td>
                                        <td>
                                            <a href="/branch/@item.OfficeId">@item.parentOfficeName</a>
                                            @*@Html.DisplayFor(modelItem => item.parentOfficeName)*@
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OfficeAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OfficePhone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OfficeGeoLocation)
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.OfficeStatus)*@
                                            @*@Html.CheckBoxFor(modelItem => item.OfficeStatus)*@
                                            <input type="checkbox" name="OfficeStatus" @(item.OfficeStatus == true ? "checked='checked'" : "") disabled="disabled">

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PayrollRemoteSetup.RemoteName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Employee.EmpName)
                                        </td>
                                        <td>
                                            <a href="Edit/@item.OfficeId">Edit</a>                                       @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>