@model IEnumerable<BeeHRM.ApplicationService.DTOs.LevelDTO>

@{
    ViewBag.Title = "Level";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="/content/DataTables/datatables.min.css" />
}

@section scripts{
    <script type="text/javascript" src="/content/DataTables/datatables.min.js"></script>
    <script type="text/javascript">
        $('.dataTable').DataTable();
    </script>
}


@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}
@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span><a href="~/Level/Create" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add</a></span><a href=" "> </a> </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Level
                </h2>
            </div>
        </div>
    </div>
}
@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check" aria-hidden="true"></i> @ViewBag.Success
    </div>
}
<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="well box">
                    <div class="box-body table-responsive">
                        <table class="table table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        SN
                                    </th>
                                    <th>
                                        Label
                                    </th>
                                    <th>
                                        Options
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LevelName)
                                        </td>
                                        <td>
                                           <a  href="/Level/Edit/@item.LevelId">Edit</a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

