@model IEnumerable<BeeHRM.ApplicationService.DTOs.AttendanceDeviceDTO>

@{
    ViewBag.Title = "Attendance Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="/content/DataTables/datatables.min.css" />
}

@section scripts{
    <script type="text/javascript" src="/content/DataTables/datatables.min.js"></script>
    <script type="text/javascript">
        $('.dataTable').DataTable();
    </script>
}
@section SideBar{
    <div class="wrapper container-fluid" id="wrapper">
        <div id="sidebar-wrapper" class="menusBg menusColor">
            <ul class="sidebar-nav">
                @foreach (var item in ViewBag.SideBar)
                {
                    <li><a href="@item.MduleLink"><i class="@item.ModuleCssClass" aria-hidden="true"></i> @Html.Raw(item.MOduleName)</a></li>
                }
            </ul>
        </div>
    </div>
}
@section PageHeader{
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span><a href="~/AttendanceDevice/Create"><i class="fa fa-plus-circle"></i> Add</a></span><a href=""> </a> </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    AttendanceDevice
                </h2>
            </div>
        </div>
    </div>
}
<div class="box box-top-border">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="well box">
                    <div class="box-body table-responsive">
                        <table class="table table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        SN
                                    </th>
                                    <th>
                                        Device Name
                                    </th>
                                    <th>
                                        Device IP
                                    </th>
                                    <th>
                                        Device Port
                                    </th>
                                    <th>
                                        Device Password
                                    </th>
                                    <th>
                                        Device MachineNo.
                                    </th>
                                    <th>
                                        Device FetchStartTime
                                    </th>
                                    <th>
                                        Device FetchEndTime
                                    </th>
                                    <th>
                                        Device LastImportDate
                                    </th>
                                    <th>
                                        Device Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeviceName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeviceIP)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DevicePort)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DevicePassword)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeviceMachineNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeviceFetchStartTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeviceFetchEndTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeviceLastImportDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeviceStatus)
                                        </td>
                                       
                                        <td>
                                            <a class="btn btn-primary" href="/AttendanceDevice/Edit/@item.DeviceId"> Edit</a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
